---
layout: default
---

<main class="main-content fadeInDown delay_075s">

  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{page.title}}</h1>
      <br>
      {% if page.feature_image and page.feature_image != "" %}
      <figure class="post-thumbnail image-card width-wide">
        <img src="{{ page.feature_image | relative_url }}" alt="{{ page.title }}">
      </figure><!-- .post-thumbnail -->
      {% endif %}
    </header><!-- .post-header -->
    <div class="post-content">
      {{content}}
    </div><!-- .post-content -->
    {% if post.final_report != "" %}
    <div class="post-share">
      <center>
      <a target="_blank"
        href="{{ page.final_report | relative_url }}">Report</a>
        </center>
    {% endif %}
  </article><!-- .post -->

</main><!-- .main-content -->
